---

- name: set dns record
  community.general.cloudflare_dns:
    zone: "{{ config.cloudflare.zone }}"
    record: "paperless.{{ config.domain }}"
    type: A
    value: "{{ config.ip }}"
    api_token: "{{ config.cloudflare.api_key }}"
  delegate_to: localhost

- name: create directories
  ansible.builtin.file:
    path: "{{ item }}"
    owner: pi
    group: pi
    state: directory
  loop:
    - /mnt/gluster/paperless/data
    - /mnt/gluster/paperless/media
    - /mnt/gluster/paperless/export
    - /mnt/gluster/paperless/consume
    - /mnt/gluster/paperless/backups

- name: create redis directories
  ansible.builtin.file:
    path: "{{ item }}"
    owner: 999
    group: 999
    state: directory
  loop:
    - /mnt/gluster/paperless/redisdata

- name: mirror paperless server image
  include_tasks: tasks/docker_mirror_image.yml
  vars:
    fact: paperless_server_image
    name: paperless-server
    # https://github.com/paperless-ngx/paperless-ngx/pkgs/container/paperless-ngx/568827382?tag=2.19.5
    source: ghcr.io/paperless-ngx/paperless-ngx:2.19.5
    image_id: sha256:5f2a72fd7be42c6b1d8fa1751606a140452d4c3e6e829ae6b1b15e3c95129481

- name: mirror paperless redis image
  include_tasks: tasks/docker_mirror_image.yml
  vars:
    fact: paperless_redis_image
    name: paperless-redis
    source: redis:8.2.3
    image_id: sha256:c4316c4367348fcad30734d594a1f17153922f788a3f919592076e8340f7320d

- name: deploy stack
  community.general.docker_stack:
    name: paperless
    prune: yes
    resolve_image: always
    compose:
      - version: '3.8'
        services:
          paperless-server:
            image: "{{ paperless_server_image }}"
            networks:
              - traefik_traefik
              - paperless
            environment:
              PAPERLESS_URL: "https://paperless.{{ config.domain }}"
              PAPERLESS_SECRET_KEY: "{{ config.paperless.secret_key }}"
              PAPERLESS_TIME_ZONE: America/Los_Angeles
              PAPERLESS_OCR_LANGUAGE: eng
              PAPERLESS_REDIS: redis://paperless-redis:6379
              PAPERLESS_CONSUMER_POLLING: 60
              # Escape for Docker Compose templating, escape for Ansible templating
              PAPERLESS_FILENAME_FORMAT: "{{ '{{' }}`{{ '{{' }} added_year {{ '}}' }}/{{ '{{' }} original_name {{ '}}' }}`{{ '}}' }}"
            volumes:
              - /mnt/gluster/paperless/data:/usr/src/paperless/data
              - /mnt/gluster/paperless/media:/usr/src/paperless/media
              - /mnt/gluster/paperless/export:/usr/src/paperless/export
              - /mnt/gluster/paperless/consume:/usr/src/paperless/consume
            deploy:
              mode: replicated
              replicas: 1
              labels:
                - "traefik.enable=true"
                - "traefik.http.routers.paperless.rule=Host(`paperless.{{ config.domain }}`)"
                - "traefik.http.routers.paperless.middlewares=traefik-internal"
                - "traefik.http.routers.paperless.entrypoints=websecure"
                - "traefik.http.routers.paperless.tls.certresolver=letsencrypt"
                - "traefik.http.services.paperless.loadbalancer.server.port=8000"
              placement:
                constraints:
                  - 'node.labels.home.instance_type == mbp'
              resources:
                limits:
                  cpus: '1.00'
                  memory: 1000M
              restart_policy:
                delay: 10m
              update_config:
                order: stop-first

          paperless-redis:
            image: "{{ paperless_redis_image }}"
            networks:
              - paperless
            volumes:
              - /mnt/gluster/paperless/redisdata:/data
            deploy:
              mode: replicated
              replicas: 1
              placement:
                constraints:
                  - 'node.labels.home.instance_type == mbp'
              resources:
                limits:
                  cpus: '1.00'
                  memory: 100M
              restart_policy:
                delay: 10m
              update_config:
                order: stop-first
        networks:
          paperless: {}
          traefik_traefik:
            external: true

- name: configure backup
  ansible.builtin.copy:
    dest: /mnt/gluster/rclone/scripts/paperless.sh
    mode: u=rwx,g=rx,o=rx
    content: |
      #!/bin/bash
      . /mnt/gluster/rclone/functions

      backup_sqlite /mnt/gluster/paperless/data/db.sqlite3 \
        /mnt/gluster/paperless/backups/db-$BACKUP_DATE.sqlite3

      rclone copy --immutable /mnt/gluster/paperless/backups \
        :s3:/$ARCHIVE_PATH/paperless/backups

      rclone copy --immutable /mnt/gluster/paperless/media \
        :s3:/$ARCHIVE_PATH/paperless/media \
        --exclude "media.lock" \
        --min-age 1d
