---

- name: external
  gather_facts: false
  hosts: external
  roles:
    - role: external
      tags: external

- name: setup
  gather_facts: false
  hosts: all
  roles:
    - role: setup
      tags: setup

- name: tang
  gather_facts: false
  hosts: tang
  roles:
    - role: tang
      tags: tang

- name: full_disk_encryption
  gather_facts: false
  hosts: full_disk_encryption
  roles:
    - role: full_disk_encryption
      tags: full_disk_encryption

- name: overlay
  gather_facts: false
  hosts: overlay_peers
  roles:
    - role: overlay
      tags: overlay

- name: vpn
  gather_facts: false
  hosts: vpn
  roles:
    - role: vpn
      tags: vpn

- name: gluster
  gather_facts: false
  hosts: all
  roles:
    - role: gluster
      tags: gluster

- name: gluster_server
  gather_facts: false
  hosts: gluster_pool_servers
  roles:
    - role: gluster_server
      tags: gluster_server

- name: gluster_client
  gather_facts: false
  hosts: gluster_client
  roles:
    - role: gluster_client
      tags: gluster_client

- name: rclone
  gather_facts: false
  hosts: rclone
  roles:
    - role: rclone
      tags: rclone

- name: rclone_backup
  gather_facts: false
  hosts: rclone_backup
  roles:
    - role: rclone_backup
      tags: rclone_backup

- name: samba
  gather_facts: false
  hosts: samba
  roles:
    - role: samba
      tags: samba

- name: docker
  gather_facts: false
  hosts:
    - docker_managers
    - docker_workers
  roles:
    - role: docker
      tags: docker

- name: docker_manager
  gather_facts: false
  hosts: docker_managers
  roles:
    - role: docker_manager
      tags: docker_manager

- name: docker_worker
  gather_facts: false
  hosts: docker_workers
  roles:
    - role: docker_worker
      tags: docker_worker

- name: datadog
  gather_facts: false
  hosts: all
  roles:
    - role: datadog
      tags: datadog

- name: wireless_ap
  gather_facts: false
  hosts: wireless_ap
  roles:
    - role: wireless_ap
      tags: wireless_ap

- name: light
  gather_facts: false
  hosts: tart
  roles:
    - role: light
      tags: light

- name: deploy
  gather_facts: false
  hosts: manager
  roles:
    - role: docker_secrets
      tags:
        - docker_secrets
        - traefik

    - role: gitea
      tags: gitea

    - role: traefik
      tags: traefik

    - role: sherpa
      tags: sherpa

    - role: homepage
      tags: homepage

    - role: vaultwarden
      tags: vaultwarden

    - role: sync
      tags: sync

    - role: jellyfin
      tags: jellyfin

    - role: actual
      tags: actual

    - role: cloudflare
      tags: cloudflare

    - role: convertx
      tags: convertx

    - role: donetick
      tags: donetick

    - role: paper
      tags: paper

    - role: paperless
      tags: paperless

    - role: temporal
      tags: temporal

    - role: mosquitto
      tags: mosquitto

    - role: home_assistant
      tags: home_assistant

    - role: vpn_ui
      tags: vpn_ui
