---

- name: init swarm
  community.docker.docker_swarm:
    advertise_addr: "{{ docker_advertise_addr }}"
    default_addr_pool: "{{ docker_default_address_pool }}"
  vars:
    ansible_python_interpreter: /opt/docker_venv/bin/python
  when: inventory_hostname == groups['docker_managers'][0]

- name: get swarm info
  community.docker.docker_swarm_info:
  register: swarm_info
  vars:
    ansible_python_interpreter: /opt/docker_venv/bin/python
  delegate_to: "{{ groups['docker_managers']|first }}"
  when: inventory_hostname != groups['docker_managers'][0]

- name: join swarm
  community.docker.docker_swarm:
    state: join
    join_token: "{{ swarm_info['swarm_facts']['JoinTokens']['Manager'] }}"
    remote_addrs:
      - "{{ hostvars[groups['docker_managers']|first]['docker_advertise_addr'] }}"
    advertise_addr: "{{ docker_advertise_addr }}"
  vars:
    ansible_python_interpreter: /opt/docker_venv/bin/python
  when: inventory_hostname != groups['docker_managers'][0]

- name: update node
  community.docker.docker_node:
    hostname: "{{ docker_hostname }}"
    labels: "{{ docker_labels }}"
    labels_state: replace
  vars:
    ansible_python_interpreter: /opt/docker_venv/bin/python

- name: create macvlan config network
  community.docker.docker_network:
    name: macvlan-config
    config_only: true
    driver_options:
      parent: "{{ docker_macvlan_parent }}"
    ipam_config: "{{ config.docker.macvlan_ipam_config }}"
  vars:
    ansible_python_interpreter: /opt/docker_venv/bin/python

- name: create macvlan network
  community.docker.docker_network:
    name: macvlan
    driver: macvlan
    scope: swarm
    config_from: macvlan-config
  vars:
    ansible_python_interpreter: /opt/docker_venv/bin/python
  when: inventory_hostname == groups['docker_managers'][0]
