---

- name: install
  ansible.builtin.apt:
    name:
      - jq
      - rclone
      - sqlite3

- name: create directories
  ansible.builtin.file:
    path: "{{ item }}"
    owner: root
    group: root
    state: directory
  loop:
    - /mnt/gluster/rclone/scripts

- name: create rclone functions
  ansible.builtin.copy:
    dest: /mnt/gluster/rclone/functions
    mode: u=rw,g=r,o=r
    content: |
      set -o errexit -o nounset -o verbose -o pipefail

      backup_sqlite() {
        local source="$1"
        local destination="$2"

        if [ -f "$destination" ]; then
          return
        fi

        sqlite3 "$source" ".backup '$destination.tmp'"

        mv "$destination.tmp" "$destination"
      }

      stop_docker_service() {
        local service="$1"

        replicas=$(docker service inspect "$service" | jq '.[0].Spec.Mode.Replicated.Replicas')

        docker service scale "$service=0" >/dev/null 2>&1

        attempts=0
        while [ "$(docker service ls -f "name=$service" --format '{{ '{{' }}json .{{ '}}' }}' \
          | jq -r '.Replicas | split("/") | .[0]')" != "0" ]; do
          sleep 2
          ((attempts++))

          if [ "$attempts" -gt 10 ]; then
            echo "Scale down timeout" >&2
            exit 1
          fi
        done

        echo "$replicas"
      }

      start_docker_service() {
        local service="$1"
        local replicas="$2"

        docker service scale "$service=$replicas" >/dev/null 2>&1
      }

      make_squashfs() {
        local source="$1"
        local destination="$2"

        if [ -f "$destination" ]; then
          return
        fi

        mksquashfs "$source" "$destination.tmp" -noappend

        mv "$destination.tmp" "$destination"
      }

- name: create rclone gluster script
  ansible.builtin.copy:
    dest: /opt/rclone-gluster.sh
    mode: u=rwx,g=rx,o=rx
    content: |
      #!/bin/bash
      set -o errexit -o nounset -o verbose -o pipefail

      export BACKUP_DATE=$(date +"%Y-01-02")

      for script in /mnt/gluster/rclone/scripts/*; do
        [ -f "$script" ] || continue

        "$script" 2>&1 | while IFS= read -r line; do
          printf '%s: %s\n' "$(basename "$script")" "$line"
        done
      done

- name: configure rclone gluster service
  ansible.builtin.copy:
    dest: /etc/systemd/system/rclone-gluster.service
    content: |
      [Unit]
      Description=Rclone Gluster
      After=network-online.target

      [Service]
      Type=simple
      ExecStart=/opt/rclone-gluster.sh

      Environment=ARCHIVE_PATH={{ rclone_gluster_archive_path }}
      Environment=RCLONE_S3_PROVIDER=AWS
      Environment=RCLONE_S3_ENV_AUTH=true
      Environment=RCLONE_S3_SERVER_SIDE_ENCRYPTION=AES256
      Environment=RCLONE_S3_STORAGE_CLASS=DEEP_ARCHIVE
      Environment=RCLONE_S3_ACCESS_KEY_ID={{ rclone_s3_access_key_id }}
      Environment=RCLONE_S3_SECRET_ACCESS_KEY={{ rclone_s3_secret_access_key }}
      Environment=RCLONE_S3_REGION={{ rclone_s3_region }}
      Environment=RCLONE_BWLIMIT=200k
      Environment=RCLONE_CHECKSUM=true
      Environment=RCLONE_VERBOSE=1
  notify: rclone_gluster_timer_restart

- name: configure rclone gluster timer
  ansible.builtin.copy:
    dest: /etc/systemd/system/rclone-gluster.timer
    content: |
      [Unit]
      Description=Rclone Gluster

      [Timer]
      OnCalendar=*-01-02 00:00:00
      RandomizedDelaySec=1h
      Persistent=true

      [Install]
      WantedBy=timers.target
  notify: rclone_gluster_timer_restart
