* {
    font-family: sans-serif;
}

body {
    margin: 0;
    height: 100%;
    color: white;
    background: black;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    user-select: none;
    touch-action: none;
    overscroll-behavior: none;
    overflow: hidden;
}
