---

- name: set dns record
  community.general.cloudflare_dns:
    zone: "{{ config.cloudflare.zone }}"
    record: "actual.{{ config.domain }}"
    type: A
    value: "{{ config.ip }}"
    api_token: "{{ config.cloudflare.api_key }}"
  delegate_to: localhost

- name: create directories
  ansible.builtin.file:
    path: "{{ item }}"
    owner: 1000
    group: 1000
    state: directory
  loop:
    - /mnt/gluster/actual/data
    - /mnt/gluster/actual/backups

- name: deploy stack
  community.general.docker_stack:
    name: actual
    prune: yes
    resolve_image: always
    compose:
      - version: '3.8'
        services:
          actual:
            image: actualbudget/actual-server:sha-2ed32c4@sha256:b34d19db889055f6724687f81cfe23f8e500274cf1df4a17130a574bdf27fad8
            networks:
              - traefik_traefik
            volumes:
              - /mnt/gluster/actual/data:/data
            healthcheck:
              test: ['CMD-SHELL', 'node src/scripts/health-check.js']
              interval: 60s
              timeout: 10s
              retries: 3
              start_period: 20s
            deploy:
              mode: replicated
              replicas: 1
              labels:
                - "traefik.enable=true"
                - "traefik.http.routers.actual.rule=Host(`actual.{{ config.domain }}`)"
                - "traefik.http.routers.actual.middlewares=traefik-internal"
                - "traefik.http.routers.actual.entrypoints=websecure"
                - "traefik.http.routers.actual.tls.certresolver=letsencrypt"
                - "traefik.http.services.actual.loadbalancer.server.port=5006"
              placement:
                constraints:
                  - 'node.labels.home.instance_type == mbp'
              resources:
                limits:
                  cpus: '1.00'
                  memory: 1000M
              restart_policy:
                delay: 10m
              update_config:
                order: stop-first
        networks:
          traefik_traefik:
            external: true

