---

- name: set dns record
  community.general.cloudflare_dns:
    zone: "{{ config.cloudflare.zone }}"
    record: "actual.{{ config.domain }}"
    type: A
    value: "{{ config.ip }}"
    api_token: "{{ config.cloudflare.api_key }}"
  delegate_to: localhost

- name: create directories
  ansible.builtin.file:
    path: "{{ item }}"
    owner: 1000
    group: 1000
    state: directory
  loop:
    - /mnt/gluster/actual/data
    - /mnt/gluster/actual/backups

- name: mirror image
  include_tasks: tasks/docker_mirror_image.yml
  vars:
    fact: actual_image
    name: actual
    source: actualbudget/actual-server:sha-2ed32c4
    image_id: sha256:fb5848d8db69130a9b54059e9d07ae76dbfdc200c8ebefb19b7552ce5dbe447f

- name: deploy stack
  community.general.docker_stack:
    name: actual
    prune: yes
    resolve_image: always
    compose:
      - version: '3.8'
        services:
          actual:
            image: "{{ actual_image }}"
            networks:
              - traefik_traefik
            volumes:
              - /mnt/gluster/actual/data:/data
            healthcheck:
              test: ['CMD-SHELL', 'node src/scripts/health-check.js']
              interval: 60s
              timeout: 10s
              retries: 3
              start_period: 20s
            deploy:
              mode: replicated
              replicas: 1
              labels:
                - "home.scheduler.replicas=1"
                - "home.scheduler.priority=50"
                - "traefik.enable=true"
                - "traefik.http.routers.actual.rule=Host(`actual.{{ config.domain }}`)"
                - "traefik.http.routers.actual.middlewares=traefik-internal"
                - "traefik.http.routers.actual.entrypoints=websecure"
                - "traefik.http.routers.actual.tls.certresolver=letsencrypt"
                - "traefik.http.services.actual.loadbalancer.server.port=5006"
              placement:
                constraints:
                  - 'node.labels.home.instance_type == mbp'
              resources:
                limits:
                  cpus: '1.00'
                  memory: 1000M
              restart_policy:
                delay: 10m
              update_config:
                order: stop-first
        networks:
          traefik_traefik:
            external: true
  vars:
    ansible_python_interpreter: /opt/docker_venv/bin/python

- name: configure backup
  ansible.builtin.copy:
    dest: /mnt/gluster/rclone/scripts/actual.sh
    mode: u=rwx,g=rx,o=rx
    content: |
      #!/bin/bash
      . /mnt/gluster/rclone/functions

      replicas=$(stop_docker_service actual_actual)

      make_squashfs /mnt/gluster/actual/data \
        /mnt/gluster/actual/backups/$BACKUP_DATE.squashfs

      start_docker_service actual_actual "$replicas"

      rclone copy --immutable /mnt/gluster/actual/backups \
        :s3:/$ARCHIVE_PATH/actual/backups
