---

- name: set dns record
  community.general.cloudflare_dns:
    zone: "{{ config.cloudflare.zone }}"
    record: "home.{{ config.domain }}"
    type: A
    value: "{{ config.ip }}"
    api_token: "{{ config.cloudflare.api_key }}"
  delegate_to: localhost

- name: build
  community.docker.docker_image_build:
    name: "gitea.{{ config.domain }}/{{ config.gitea.username }}/homepage"
    tag: latest
    path: "{{ role_path }}/files"
    rebuild: always
    platform:
      - linux/amd64
      - linux/arm64/v8
    outputs:
      - type: image
        push: true
  delegate_to: localhost
  register: build_result

- name: deploy stack
  community.general.docker_stack:
    name: homepage
    prune: yes
    resolve_image: always
    compose:
      - version: '3.8'
        services:
          homepage:
            image: "{{ build_result.image.RepoDigests[0] }}"
            environment:
              DATADOG_DASHBOARD_URL: "{{ config.datadog.dashboard_url }}"
              DOMAIN: "{{ config.domain }}"
            networks:
              - traefik_traefik
            logging:
              driver: none
            deploy:
              mode: replicated
              replicas: 1
              labels:
                - "traefik.enable=true"
                - "traefik.http.routers.homepage.rule=Host(`home.{{ config.domain }}`)"
                - "traefik.http.routers.homepage.middlewares=traefik-internal,traefik-forward-auth"
                - "traefik.http.routers.homepage.entrypoints=websecure"
                - "traefik.http.routers.homepage.tls.certresolver=letsencrypt"
                - "traefik.http.services.homepage.loadbalancer.server.port=80"
              placement:
                constraints:
                  - 'node.labels.home.instance_type == pi'
                  - 'node.labels.home.instance_size == extra_small'
              resources:
                limits:
                  cpus: '0.15'
                  memory: 10M
              restart_policy:
                delay: 30s
              update_config:
                order: stop-first
        networks:
          traefik_traefik:
            external: true
