---

- name: create directories
  ansible.builtin.file:
    path: "{{ item }}"
    owner: root
    group: root
    state: directory
  loop:
    - /mnt/external/selenium

- name: create directories
  ansible.builtin.file:
    path: "{{ item }}"
    owner: 1200
    group: 1200
    state: directory
  loop:
    - /mnt/external/selenium/profiles

- name: mirror image
  include_tasks: tasks/docker_mirror_image.yml
  vars:
    fact: selenium_image
    name: selenium
    source: seleniarm/standalone-chromium
    image_id: sha256:ea7c849ec54f6a9da06634ec2392af3195a24a646b71841bfa986d34462a98b8

- name: deploy stack
  community.general.docker_stack:
    name: selenium
    prune: yes
    resolve_image: always
    compose:
      - version: '3.8'
        services:
          selenium:
            image: "{{ selenium_image }}"
            environment:
              SCREEN_WIDTH: '1024'
              SCREEN_HEIGHT: '768'
              SCREEN_DEPTH: '24'
              SCREEN_DPI: '74'
              SE_NODE_SESSION_TIMEOUT: '30'
            shm_size: 1g
            ports:
              - '4444:4444'
              - '5900:5900'
            volumes:
              - /mnt/external/selenium:/selenium
            deploy:
              mode: replicated
              replicas: 1
              labels:
                - "home.scheduler.replicas=1"
                - "home.scheduler.priority=50"
              placement:
                constraints:
                  - 'node.labels.home.instance_type == mbp'
                  - 'node.labels.home.instance_size == large'
              resources:
                limits:
                  cpus: '2.00'
                  memory: 1024M
              restart_policy:
                delay: 5m

