---

- name: set dns record
  community.general.cloudflare_dns:
    zone: "{{ config.cloudflare.zone }}"
    record: "vpn-ui.{{ config.domain }}"
    type: A
    value: "{{ config.ip }}"
    api_token: "{{ config.cloudflare.api_key }}"
  delegate_to: localhost

- name: create directories
  ansible.builtin.file:
    path: "{{ item }}"
    owner: pi
    group: pi
    state: directory
  loop:
    - /mnt/gluster/vpn-ui/config
    - /mnt/gluster/vpn-ui/db

- name: configure template
  ansible.builtin.copy:
    dest: /mnt/gluster/vpn-ui/config/template.conf
    content: |
      [Interface]
      Address = {{ config.ip }}/24
      ListenPort = {{ config.vpn.listen_port }}
      PrivateKey = {{ config.vpn.private_key }}

      {% raw %}
      {{range .clientDataList}}{{if eq .Client.Enabled true}}
      # Name:         {{ .Client.Name }}
      [Peer]
      PublicKey = {{ .Client.PublicKey }}
      {{if .Client.PresharedKey}}PresharedKey = {{ .Client.PresharedKey }}{{end}}
      AllowedIPs = {{$first :=true}}{{range .Client.AllocatedIPs }}{{if $first}}{{$first = false}}{{else}},{{end}}{{.}}{{end}}{{range .Client.ExtraAllowedIPs }},{{.}}{{end}}
      {{if $.globalSettings.PersistentKeepalive}}PersistentKeepalive = {{ $.globalSettings.PersistentKeepalive }}{{end}}
      {{if .Client.Endpoint}}Endpoint = {{ .Client.Endpoint }}{{end}}
      {{end}}{{end}}
      {% endraw %}


      {% for peer in groups['ingress_peers'] %}
      [Peer]
      PublicKey = {{ hostvars[peer]['vpn_peer_public_key'] }}
      Endpoint = {{ hostvars[peer]['ip'] }}:{{ config.vpn.listen_port }}
      AllowedIPs = {{ hostvars[peer]['vpn_peer_ip'] }}/32
      PersistentKeepalive = 25

      {% endfor %}
    owner: root
    group: root
    mode: u=rw,g=,o=
  tags: vpn_ui_template

- name: vpn-ui session secret
  community.general.docker_secret:
    name: vpn_ui_session_secret
    data: "{{ config.vpn_ui.session_secret }}"
    rolling_versions: true
  register: vpn_ui_session_secret

- name: mirror image
  include_tasks: tasks/docker_mirror_image.yml
  vars:
    fact: vpn_ui_image
    name: vpn-ui
    source: ngoduykhanh/wireguard-ui:0.6.2
    image_id: sha256:5213a3a3248441c3934ac522ee2c76656367e2edc009b55bc5e881b9d6105b88

- name: deploy stack
  community.general.docker_stack:
    name: vpn-ui
    prune: yes
    resolve_image: always
    compose:
      - version: '3.8'
        services:
          vpn-ui:
            image: "{{ vpn_ui_image }}"
            secrets:
              - vpn_ui_session_secret
            environment:
              SESSION_SECRET_FILE: /run/secrets/vpn_ui_session_secret
              SUBNET_RANGES: "{{ config.vpn_ui.subnet_ranges }}"
              WGUI_CONFIG_FILE_PATH: "/etc/wireguard/vpn-host.conf"
              WGUI_ENDPOINT_ADDRESS: "{{ config.domain }}"
              WGUI_MTU: ""
              WGUI_PERSISTENT_KEEPALIVE: ""
              WGUI_FIREWALL_MARK: "{{ config.vpn_ui.firewall_mark }}"
              WGUI_TABLE: ""
              WGUI_SERVER_LISTEN_PORT: "{{ config.vpn.listen_port }}"
              WGUI_DEFAULT_CLIENT_ALLOWED_IPS: "{{ config.vpn_ui.default_client_allowed_ips }}"
              WG_CONF_TEMPLATE: /config/template.conf
            networks:
              - traefik_traefik
            volumes:
              - /mnt/gluster/vpn-ui/config:/config
              - /mnt/gluster/vpn-ui/db:/app/db
              - /mnt/gluster/vpn-ui/wireguard:/etc/wireguard
            deploy:
              mode: replicated
              replicas: 1
              labels:
                - "home.scheduler.replicas=1"
                - "home.scheduler.priority=40"
                - "traefik.enable=true"
                - "traefik.http.routers.vpn-ui.rule=Host(`vpn-ui.{{ config.domain }}`)"
                - "traefik.http.routers.vpn-ui.middlewares=traefik-internal,traefik-forward-auth"
                - "traefik.http.routers.vpn-ui.entrypoints=websecure"
                - "traefik.http.routers.vpn-ui.tls.certresolver=letsencrypt"
                - "traefik.http.services.vpn-ui.loadbalancer.server.port=5000"
              resources:
                limits:
                  cpus: '1.00'
                  memory: 100M
              restart_policy:
                delay: 10m
              update_config:
                order: stop-first
        secrets:
          vpn_ui_session_secret:
            external: true
            name: "{{ vpn_ui_session_secret.secret_name }}"
        networks:
          traefik_traefik:
            external: true
  vars:
    ansible_python_interpreter: /opt/docker_venv/bin/python

- name: configure backup
  ansible.builtin.copy:
    dest: /mnt/gluster/rclone/scripts/vpn-ui.sh
    mode: u=rwx,g=rx,o=rx
    content: |
      #!/bin/bash
      . /mnt/gluster/rclone/functions

      rclone sync /mnt/gluster/vpn-ui \
        :s3:/$ARCHIVE_PATH/$BACKUP_DATE/vpn-ui
