---

- name: set dns record
  community.general.cloudflare_dns:
    zone: "{{ config.cloudflare.zone }}"
    record: "paper.{{ config.domain }}"
    type: A
    value: "{{ config.paper.ip }}"
    api_token: "{{ config.cloudflare.api_key }}"
  delegate_to: localhost

- name: set ui dns record
  community.general.cloudflare_dns:
    zone: "{{ config.cloudflare.zone }}"
    record: "paper-ui.{{ config.domain }}"
    type: A
    value: "{{ config.ip }}"
    api_token: "{{ config.cloudflare.api_key }}"
  delegate_to: localhost

- name: deploy stack
  community.general.docker_stack:
    name: paper
    prune: yes
    resolve_image: always
    compose:
      - version: '3.8'
        services:
          paper:
            image: openjdk:23-jdk-bullseye@sha256:ca0b23280f47f3da09b1491d501a16d86883cb533ce5606112128addb5a08d0c
            command: java -Xms4G -Xmx4G -jar paper.jar --nogui
            user: '1000:1000'
            working_dir: /data
            ports:
              - target: 25565
                published: 25565
                protocol: tcp
                mode: host
              - target: 25565
                published: 25565
                protocol: udp
                mode: host
              - target: 19132
                published: 19132
                protocol: tcp
                mode: host
              - target: 19132
                published: 19132
                protocol: udp
                mode: host
            networks:
              - traefik_traefik
            volumes:
              - /mnt/gluster/resilio-sync/sync/Paper:/data
            deploy:
              mode: replicated
              replicas: 0
              labels:
                - "home.scheduler.replicas=0"
                - "home.scheduler.priority=50"
                - "traefik.enable=true"
                - "traefik.http.routers.paper-ui.rule=Host(`paper-ui.{{ config.domain }}`)"
                - "traefik.http.routers.paper-ui.middlewares=traefik-internal,traefik-forward-auth"
                - "traefik.http.routers.paper-ui.entrypoints=websecure"
                - "traefik.http.routers.paper-ui.tls.certresolver=letsencrypt"
                - "traefik.http.services.paper-ui.loadbalancer.server.port=7867"
              placement:
                constraints:
                  - 'node.labels.home.instance_type == mbp'
                  - 'node.labels.home.instance_size == large'
              resources:
                limits:
                  cpus: '4.00'
                  memory: 4096M
              restart_policy:
                delay: 10m
        networks:
          traefik_traefik:
            external: true
  vars:
    ansible_python_interpreter: /opt/docker_venv/bin/python

- name: configure backup
  ansible.builtin.copy:
    dest: /mnt/gluster/rclone/scripts/paper.sh
    mode: u=rwx,g=rx,o=rx
    content: |
      #!/bin/bash
      . /mnt/gluster/rclone/functions

      rclone copy --immutable /mnt/gluster/resilio-sync/sync/Paper/plugins/Backuper/Backups \
        :s3:/$ARCHIVE_PATH/resilio-sync/sync/Paper/plugins/Backuper/Backups \
        --min-age 1d

      rclone copyto /mnt/gluster/resilio-sync/sync/Paper/update.txt \
        :s3:/$ARCHIVE_PATH/$BACKUP_DATE/resilio-sync/sync/Paper/update.txt
