---

- name: set dns record
  community.general.cloudflare_dns:
    zone: "{{ config.cloudflare.zone }}"
    record: "mosquitto.{{ config.domain }}"
    type: A
    value: "{{ config.ip }}"
    api_token: "{{ config.cloudflare.api_key }}"
  delegate_to: localhost

- name: create directories
  ansible.builtin.file:
    path: "{{ item }}"
    owner: pi
    group: pi
    state: directory
  loop:
    - /mnt/gluster/mosquitto/config
    - /mnt/gluster/mosquitto/data
    - /mnt/gluster/mosquitto/log

- name: mirror image
  include_tasks: tasks/docker_mirror_image.yml
  vars:
    fact: mosquitto_image
    name: mosquitto
    source: eclipse-mosquitto:2.0.21
    image_id: sha256:94f5a3d7deafa59fa3440d227ddad558f59d293c612138de841eec61bfa4d353

- name: deploy stack
  community.general.docker_stack:
    name: mosquitto
    prune: yes
    resolve_image: always
    compose:
      - version: '3.8'
        services:
          mosquitto:
            image: "{{ mosquitto_image }}"
            networks:
              - mosquitto
              - traefik_traefik
            user: 1000:1000
            volumes:
              - /mnt/gluster/mosquitto/config:/mosquitto/config
              - /mnt/gluster/mosquitto/data:/mosquitto/data
              - /mnt/gluster/mosquitto/log:/mosquitto/log
            deploy:
              mode: replicated
              replicas: 1
              labels:
                - "traefik.enable=true"
                - "traefik.tcp.routers.mosquitto.rule=HostSNI(`*`)"
                - "traefik.tcp.routers.mosquitto.middlewares=traefik-internal-tcp"
                - "traefik.tcp.routers.mosquitto.entrypoints=mosquitto"
                - "traefik.tcp.services.mosquitto.loadbalancer.server.port=1883"
              placement:
                constraints:
                  - 'node.labels.home.instance_type == mbp'
                  - 'node.labels.home.instance_size == large'
              resources:
                limits:
                  cpus: '1.00'
                  memory: 50M
              restart_policy:
                delay: 5m
              update_config:
                order: stop-first
        networks:
          mosquitto: {}
          traefik_traefik:
            external: true

- name: configure backup
  ansible.builtin.copy:
    dest: /mnt/gluster/rclone/scripts/mosquitto.sh
    mode: u=rwx,g=rx,o=rx
    content: |
      #!/bin/bash
      . /mnt/gluster/rclone/functions

      rclone sync /mnt/gluster/mosquitto \
        :s3:/$ARCHIVE_PATH/$BACKUP_DATE/mosquitto
