---

- name: update cache
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600

- name: configure timezone
  community.general.timezone:
    name: Etc/UTC
  notify: setup_reboot

- name: configure hostname
  ansible.builtin.hostname:
    name: "{{ inventory_hostname_short }}"
  notify: setup_reboot

- name: configure hosts
  ansible.builtin.lineinfile:
    path: /etc/hosts
    regexp: '^127\.0\.1\.1\t.*$'
    line: "127.0.1.1\t{{ inventory_hostname_short }}"
  notify: setup_reboot

- name: check swap
  ansible.builtin.stat:
    path: /var/swap
  changed_when: false
  register: swap_result
  tags:
    - swap

- name: disable swap
  ansible.builtin.shell:
    cmd: "{{ item }}"
  loop:
    - dphys-swapfile swapoff
    - dphys-swapfile uninstall
  when: swap_result.stat.exists
  notify: setup_reboot
  tags:
    - swap

- name: configure journal
  community.general.ini_file:
    path: /etc/systemd/journald.conf
    section: Journal
    option: "{{ item.option }}"
    value: "{{ item.value }}"
  loop:
    - option: Storage
      value: volatile
    - option: RuntimeMaxUse
      value: 15M
  notify: setup_reboot
  tags:
    - journal

- name: disable swap service
  ansible.builtin.systemd:
    name: dphys-swapfile
    state: stopped
    enabled: false
  when: swap_result.stat.exists
  notify: setup_reboot
  tags:
    - swap

- name: create override directories
  ansible.builtin.file:
    path: "{{ item }}"
    owner: root
    group: root
    state: directory
  loop:
    - /etc/systemd/system/apt-daily.timer.d
    - /etc/systemd/system/apt-daily-upgrade.timer.d
    - /etc/systemd/system/systemd-timesyncd.service.d

- name: configure apt download timer
  ansible.builtin.copy:
    dest: /etc/systemd/system/apt-daily.timer.d/override.conf
    content: |
      [Timer]
      OnCalendar=
      OnCalendar={{ apt_download_time }}
      RandomizedDelaySec=10m
  notify: setup_apt_download_restart

- name: configure apt upgrade timer
  ansible.builtin.copy:
    dest: /etc/systemd/system/apt-daily-upgrade.timer.d/override.conf
    content: |
      [Timer]
      OnCalendar=
      OnCalendar={{ apt_upgrade_time }}
      RandomizedDelaySec=10m
  notify: setup_apt_upgrade_restart

- name: configure timesyncd
  ansible.builtin.copy:
    dest: /etc/systemd/system/systemd-timesyncd.service.d/override.conf
    content: |
      [Unit]
      StartLimitIntervalSec=0

      [Service]
      RestartSec=5s
  notify: setup_timesyncd_restart

- name: check dhcpcd
  ansible.builtin.stat:
    path: /usr/sbin/dhcpcd
  changed_when: false
  register: dhcpcd_result
  tags: dhcpcd

- name: configure dhcpcd
  ansible.builtin.blockinfile:
    path: /etc/dhcpcd.conf
    block: |
      denyinterfaces veth*
  when: dhcpcd_result.stat.exists
  notify: setup_dhcpcd_restart
  tags: dhcpcd

- name: check nmcli
  ansible.builtin.stat:
    path: /usr/bin/nmcli
  changed_when: false
  register: nmcli_result
  tags: network_manager

- name: configure network manager
  ansible.builtin.copy:
    dest: /etc/NetworkManager/conf.d/unmanaged-devices.conf
    content: |
      [keyfile]
      unmanaged-devices=interface-name:veth*
  when: nmcli_result.stat.exists
  notify: setup_network_manager_restart
  tags: network_manager

- name: check cmdline
  ansible.builtin.stat:
    path: /boot/firmware/cmdline.txt
  changed_when: false
  register: cmdline_result
  tags: cgroups

- name: enable cgroups features
  ansible.builtin.lineinfile:
    path: /boot/firmware/cmdline.txt
    backrefs: True
    regexp: '(^.+rootwait)$'
    line: '\1 cfg80211.ieee80211_regdom=US cgroup_enable=cpuset cgroup_memory=1 cgroup_enable=memory'
  when: cmdline_result.stat.exists
  notify: setup_reboot
  tags: cgroups

- name: check grub
  ansible.builtin.stat:
    path: /etc/default/grub
  changed_when: false
  register: grub_result
  tags: cgroups

- name: enable cgroups features
  ansible.builtin.lineinfile:
    path: /etc/default/grub
    line: 'GRUB_CMDLINE_LINUX_DEFAULT="quiet cgroup_enable=cpuset cgroup_memory=1 cgroup_enable=memory"'
  when: grub_result.stat.exists
  register: enable_grub_cgroups
  notify: setup_reboot
  tags: cgroups

- name: update grub
  ansible.builtin.shell:
    cmd: update-grub
  when: enable_grub_cgroups.changed
  notify: setup_reboot
  tags:
    - cgroups

- name: install
  ansible.builtin.apt:
    name:
      - curl
      - vim
      - lsof
      - git
      - htop
      - sysstat
      - python-is-python3
      - python3-pip
      - python3-venv
      - zram-tools
      - unattended-upgrades
      - squashfs-tools
  notify: setup_reboot

- name: configure zram
  ansible.builtin.lineinfile:
    path: /etc/default/zramswap
    line: "SIZE={{ setup_zram_size }}"
  notify: setup_reboot

- name: configure unattended upgrades
  ansible.builtin.copy:
    dest: /etc/apt/apt.conf.d/51unattended-upgrades
    content: |
      APT::Periodic::Update-Package-Lists "1";
      APT::Periodic::Unattended-Upgrade "1";
      Unattended-Upgrade::Automatic-Reboot "true";

- name: configure log forwarding
  ansible.builtin.copy:
    dest: /etc/systemd/system/unattended-upgrades-log@.service
    content: |
      [Unit]
      Description=Unattended Upgrades Log Forwarder
      Before=unattended-upgrades.service
      StartLimitIntervalSec=0

      [Install]
      WantedBy=multi-user.target

      [Service]
      Type=simple
      ExecStart=/usr/bin/systemd-cat -t unattended-upgrades-%i /usr/bin/tail -n 0 -F /var/log/unattended-upgrades/%i.log
      Restart=always
      RestartSec=5s
  tags: unattended_upgrades_log

- name: enable log forwarding
  ansible.builtin.systemd:
    name: unattended-upgrades-log@{{ item }}
    state: started
    enabled: true
    daemon_reload: true
  loop:
    - unattended-upgrades
    - unattended-upgrades-dpkg
    - unattended-upgrades-shutdown
  tags: unattended_upgrades_log

- name: install docker sdk
  ansible.builtin.pip:
    name:
      - docker
      - jsondiff
      - pyyaml
    virtualenv: /opt/docker_venv
    virtualenv_command: "python -m venv"

- name: install poetry
  ansible.builtin.shell:
    cmd: >
      curl -sSL https://install.python-poetry.org
      | python -
    creates: /home/{{ ansible_user }}/.local/bin/poetry
  become_user: "{{ ansible_user }}"

- name: set dns record
  community.general.cloudflare_dns:
    zone: "{{ config.cloudflare.zone }}"
    record: "{{ dns_name }}"
    type: A
    value: "{{ ip }}"
    api_token: "{{ config.cloudflare.api_key }}"
  delegate_to: localhost
  tags: dns_record
