---

- name: set dns record
  community.general.cloudflare_dns:
    zone: "{{ config.cloudflare.zone }}"
    record: "sync.{{ config.domain }}"
    type: A
    value: "{{ config.ip }}"
    api_token: "{{ config.cloudflare.api_key }}"
  delegate_to: localhost

- name: create directories
  ansible.builtin.file:
    path: "{{ item }}"
    owner: pi
    group: pi
    state: directory
  loop:
    - /mnt/gluster/resilio-sync/config
    - /mnt/gluster/resilio-sync/downloads
    - /mnt/gluster/resilio-sync/sync

- name: mirror image
  include_tasks: tasks/docker_mirror_image.yml
  vars:
    fact: resilio_sync_image
    name: resilio-sync
    source: linuxserver/resilio-sync:2.7.3.1381-1-ls171
    image_id: sha256:71eb11a276eb82f056e92bb7d7d35bee43d764023f59a5e5355ccbf83314b84b

- name: deploy stack
  community.general.docker_stack:
    name: resilio-sync
    prune: yes
    resolve_image: always
    compose:
      - version: '3.8'
        services:
          resilio-sync:
            image: "{{ resilio_sync_image }}"
            labels:
              - "sherpa.enable=true"
              - "sherpa.dns/hostname={{ config.sync.dns_name }}"
              - "sherpa.dns/type=A"
              - "sherpa.dns/network=ipvlan"
              - "sherpa.dns/ttl=300"
              - "sherpa.dns/proxied=false"
            networks:
              traefik_traefik:
              ipvlan:
            environment:
              PUID: "1000"
              PGID: "1000"
              TZ: America/Los_Angeles
              UMASK_SET: "022"
            volumes:
              - /mnt/gluster/resilio-sync/config:/config
              - /mnt/gluster/resilio-sync/downloads:/downloads
              - /mnt/gluster/resilio-sync/sync:/sync
            logging:
              driver: none
            deploy:
              mode: replicated
              replicas: 1
              labels:
                - "traefik.enable=true"
                - "traefik.http.routers.sync.rule=Host(`sync.{{ config.domain }}`)"
                - "traefik.http.routers.sync.middlewares=traefik-internal,traefik-forward-auth"
                - "traefik.http.routers.sync.entrypoints=websecure"
                - "traefik.http.routers.sync.tls.certresolver=letsencrypt"
                - "traefik.http.services.sync.loadbalancer.server.port=8888"
              placement:
                constraints:
                  - 'node.labels.home.instance_type == mbp'
                  - 'node.labels.home.instance_size == large'
              resources:
                limits:
                  cpus: '0.50'
                  memory: 800M
              restart_policy:
                delay: 10m
              update_config:
                order: stop-first
        networks:
          traefik_traefik:
            external: true
          ipvlan:
            external: true

- name: configure backup
  ansible.builtin.copy:
    dest: /mnt/gluster/rclone/scripts/sync.sh
    mode: u=rwx,g=rx,o=rx
    content: "{{ config.sync.backup_script }}"
