---

- name: install
  ansible.builtin.apt:
    name:
      - jq
      - rclone
      - sqlite3

- name: create rclone backup script
  ansible.builtin.copy:
    dest: /opt/rclone-backup.sh
    content: "{{ rclone_backup_script }}"
    owner: root
    group: root
    mode: u=rwx,g=,o=

- name: configure rclone backup service
  ansible.builtin.copy:
    dest: /etc/systemd/system/rclone-backup.service
    content: |
      [Unit]
      Description=Rclone Backup
      After=network-online.target

      [Service]
      Type=simple
      ExecStart=/opt/rclone-backup.sh

      Environment=RCLONE_S3_PROVIDER=AWS
      Environment=RCLONE_S3_ENV_AUTH=true
      Environment=RCLONE_S3_SERVER_SIDE_ENCRYPTION=AES256
      Environment=RCLONE_S3_STORAGE_CLASS=DEEP_ARCHIVE
      Environment=RCLONE_S3_ACCESS_KEY_ID={{ rclone_s3_access_key_id }}
      Environment=RCLONE_S3_SECRET_ACCESS_KEY={{ rclone_s3_secret_access_key }}
      Environment=RCLONE_S3_REGION={{ rclone_s3_region }}
      Environment=RCLONE_BWLIMIT=500k
      Environment=RCLONE_CHECKSUM=true
      Environment=RCLONE_VERBOSE=1
