---

- name: set dns record
  community.general.cloudflare_dns:
    zone: "{{ config.cloudflare.zone }}"
    record: "ha.{{ config.domain }}"
    type: A
    value: "{{ config.ip }}"
    api_token: "{{ config.cloudflare.api_key }}"
  delegate_to: localhost

- name: create directories
  ansible.builtin.file:
    path: "{{ item }}"
    owner: pi
    group: pi
    state: directory
  loop:
    - /mnt/gluster/home-assistant/config

- name: mirror image
  include_tasks: tasks/docker_mirror_image.yml
  vars:
    fact: home_assistant_image
    name: home-assistant
    # https://github.com/home-assistant/core/pkgs/container/home-assistant/520919619?tag=2025.9.4
    source: ghcr.io/home-assistant/home-assistant:2025.9.4
    image_id: sha256:89ec0583c7f47c8a150204f6b5ed48b5432026012bebe1226cf72775a795a5e1

- name: deploy stack
  community.general.docker_stack:
    name: home-assistant
    prune: yes
    resolve_image: always
    compose:
      - version: '3.8'
        services:
          home-assistant:
            image: "{{ home_assistant_image }}"
            labels:
              - "sherpa.enable=true"
              - "sherpa.dns/hostname={{ config.home_assistant.dns_name }}"
              - "sherpa.dns/type=A"
              - "sherpa.dns/network=ipvlan"
              - "sherpa.dns/ttl=300"
              - "sherpa.dns/proxied=false"
            networks:
              traefik_traefik:
              mosquitto_mosquitto:
              lock-proxy_lock-proxy:
              ipvlan:
            user: 1000:1000
            volumes:
              - /mnt/gluster/home-assistant/config:/config
            deploy:
              mode: replicated
              replicas: 1
              labels:
                - "traefik.enable=true"
                - "traefik.http.routers.home-assistant.rule=Host(`ha.{{ config.domain }}`)"
                - "traefik.http.routers.home-assistant.middlewares=traefik-internal"
                - "traefik.http.routers.home-assistant.entrypoints=websecure"
                - "traefik.http.routers.home-assistant.tls.certresolver=letsencrypt"
                - "traefik.http.services.home-assistant.loadbalancer.server.port=8123"
              placement:
                constraints:
                  - 'node.labels.home.instance_type == mbp'
                  - 'node.labels.home.instance_size == large'
              resources:
                limits:
                  cpus: '1.00'
                  memory: 600M
              restart_policy:
                delay: 10m
              update_config:
                order: stop-first
        networks:
          traefik_traefik:
            external: true
          mosquitto_mosquitto:
            external: true
          lock-proxy_lock-proxy:
            external: true
          ipvlan:
            external: true

- name: configure backup
  ansible.builtin.copy:
    dest: /mnt/gluster/rclone/scripts/home-assistant.sh
    mode: u=rwx,g=rx,o=rx
    content: |
      #!/bin/bash
      . /mnt/gluster/rclone/functions

      rclone copy --immutable /mnt/gluster/home-assistant/config/backups \
        :s3:/$ARCHIVE_PATH/home-assistant/config/backups \
        --min-age 1d
