---

- name: mirror image
  include_tasks: tasks/docker_mirror_image.yml
  vars:
    fact: cloudflare_ddns_image
    name: cloudflare-ddns
    source: oznu/cloudflare-ddns:aarch64
    image_id: sha256:957a3442e4415cc247376e695e58743448c5eb7d8ffd8c606054b5c7f84c31db

- name: deploy stack
  community.general.docker_stack:
    name: cloudflare-ddns
    prune: yes
    resolve_image: always
    compose:
      - version: '3.8'
        services:
          cloudflare-ddns:
            image: "{{ cloudflare_ddns_image }}"
            environment:
              ZONE: "{{ config.cloudflare.zone }}"
              SUBDOMAIN: "{{ config.cloudflare.subdomain }}"
              API_KEY_FILE: /run/secrets/cloudflare_api_key_secret
            secrets:
              - cloudflare_api_key_secret
            logging:
              driver: none
            deploy:
              mode: replicated
              replicas: 1
              labels:
                - "home.scheduler.replicas=1"
                - "home.scheduler.priority=1"
              placement:
                constraints:
                  - 'node.labels.home.instance_type == pi'
              resources:
                limits:
                  cpus: '0.15'
                  memory: 10M
              restart_policy:
                delay: 5m
              update_config:
                order: stop-first
        secrets:
          cloudflare_api_key_secret:
            external: true
            name: cloudflare_api_key_secret
  vars:
    ansible_python_interpreter: /opt/docker_venv/bin/python
